/* Images from getstencil.com */

* {
  box-sizing: border-box;
}
body {
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  margin-bottom: 0;
  font-weight:300;
  font-size: 3em;
}
h2 {
  font-weight: 400;
  font-size: 2em;
  color: #e96363;
  margin-bottom: 0;
}
span {
  font-weight: 300;
}
.main,
.header,
div,
img {
  width: 100%;
}
.header {
  background-color: white;
  background-image: linear-gradient(to bottom, transparent -100%, white 100%), url("../img/splash-800_small.jpg");
  padding-bottom: 1em;
  padding-top: 2em;
  margin-bottom: 1em;
  background-repeat: no-repeat;
  background-position: center;
}
.logo,
.logo-change,
.header-text,
.featured-work,
.sample {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.featured-work {
  font-weight: 300;
}
.sample {
  max-width: 380px;
  margin: 1em auto;
  font-family: 'Work Sans', sans-serif;
  position: relative;
  height: 250px;
  border-radius: 5px;
}
.sample:nth-of-type(1) {
  background: linear-gradient(rgba(255, 255, 255, 0.25),
              rgba(255, 255, 255, 0.25)),
              url("../img/resume-800_small.jpg");
  background-size: cover;
}
.sample:nth-of-type(2) {
  background: linear-gradient(rgba(255, 255, 255, 0.25),
              rgba(255, 255, 255, 0.25)),
              url("../img/arcade-800_small.jpg");
  background-size: cover;
}
.sample:nth-of-type(3) {
  background: linear-gradient(rgba(255, 255, 255, 0.25),
              rgba(255, 255, 255, 0.25)),
              url("../img/rss-800_small.jpg");
  background-size: cover;
}
h3 {
  background-color: #000;
  background-color: rgba(255, 128, 128, 0.7);
  position: absolute;
  bottom: 0em;
  height: 30%;
  width: 100%;
  color: #fff;
  margin: 0;
  padding: 1em;
  border-radius: 0 0 5px 5px;
}
.splash,
.logo-change,
.header hr {
  display: none;
}
.featured-work hr {
  width: 100px;
  border: 0;
  height: 1px;
  background: #ccc;
}
@media screen and (min-width: 780px) {
  .header {
    display: inline-block;
    width: 100%;
    padding-bottom: 150px;
  }
  .logo {
    display: none;
  }
  .logo-change {
    display: inline-block;
    float: left;
    max-width: 50%;
    text-align: left;
    padding-left: 1em;
  }
  .header-text {
    float: right;
    max-width: 50%;
    text-align: right;
    padding-right: 1em;
  }
  h1 {
    margin-top: 10px;
  }
}
@media screen and (min-width: 800px) {
  .container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .sample {
    max-width: 250px;
    height: 170px;
    margin-right: 10px;
  }
  .sample:last-of-type {
    margin: auto;
  }
}
@media screen and (min-width: 801px) {
    .header {
      background-image: none;
      margin-bottom: 0;
      padding-bottom: 1em;
    }
    .header hr {
      display: block;
      width: calc(100% - 2em);
      border: 0;
      height: 2px;
      background: #ccc;
    }
    .splash {
      display: block;
      padding: 0 1em;
      width: 100%;
    }
    .featured-work {
      text-align: left;
      padding-left: 1em;
    }
    .featured-work hr {
      display: none;
    }
    .container {
      margin: 0;
    }
}
@media screen and (min-width: 940px) {
    .sample {
      max-width: 300px;
      height: 220px;
    }
}
