#entire-card {
  position: fixed;
  max-width: 350px;
  margin: auto;
  background-color: #43cbe7;
  border: 1px solid #021b5e;
  border-radius: 10px;
}

h3 {
  font-family: 'Chelsea Market', cursive;
  width: 250px;
  margin: 10px 0 20px;
  font-weight: bold;
  background-color: #86eaff;
  border: 2px solid #021b5e;
  border-radius: 20px 20px 200px 20px;
}

#entire-card,.interesting-fact,.description,ul,h3 {
  padding: 10px;
}

#content,img {
  width: 320px;
  margin: 0 auto;
}

#content {
  font-size: 17px;
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
}

img {
  border: 2px solid #021b5e;
  border-radius: 5px 100px 5px 30px;
}


ul {
  font-size: 1.2em;
  list-style: none;
}

span {
  font-weight: bold;
}

.interesting-fact,.extra {
    border: 1px solid #074f85;
}

.interesting-fact {
  font-style: italic;
  background: #0776cb;
  border-radius: 5px 30px;
  box-shadow: 0px 5px #074f85;
}

.extra {
  background-color: #04b1e6;
  border-radius: 10px;
  box-shadow: -5px 0px #074f85;
  margin-bottom: 30px;
}

p {
  text-align: justify;
}
